---
layout: general
title: Making the complex feel simple.
bodyId: home
---

<section id="writing">
	<section class="left-placeholder">&nbsp;</section>
	<section id="articles">
		{% for post in site.categories.blog %}
			<article id="{{ post.date | date: "%B-%d-%Y" }}" data-publisher="{{ post.publisher }}" >
				<header>
					<h3><a href="{{ post.originalurl }}">{{ post.publisher }}</a></h3>
					<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				</header>
				<section>
					{{ post.content }}
					<p class="more"><a class="glyph" href="{{ post.originalurl }}">&#x2192;</a> Read the rest on <a href="{{ post.originalurl }}">{{ post.publisher }}</a>. Originally published <span class="date">{{ post.date | date: "%B %d, %Y" }}</span></p>
					<p class="categories">{% for keyword in post.keywords %} {{ keyword }}&nbsp; {% endfor %}</p>
				</section>
			</article>
		{% endfor %}
	</section>
	<section id="articles2" style="display: none;">
		{% for post in site.categories.blog %}
			<article id="{{ post.date | date: "%B-%d-%Y" }}" data-publisher="{{ post.publisher }}" >
				<header>
					<h3><a href="{{ post.originalurl }}">{{ post.publisher }}</a></h3>
					<p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
					<p class="categories">{% for keyword in post.keywords %} {{ keyword }}&nbsp; {% endfor %}</p>
				</header>
				<section>
					<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
					{{ post.content }}
				</section>
			</article>
		{% endfor %}
	</section>
	<aside>
		<h4>Published on</h4>
		<ul id="publisher"></ul>
	</aside>
</section>

<section id="speaking" style="display: none;">
	<section id="upcoming">
		<h2>Upcoming Events</h2>
		{% for event in site.categories.events %}
			{% if event.status == 'upcoming' %}
				<article>
					<p class="date">{{ event.date | date: "%B %d, %Y" }}</p>
					<h3>{{ event.title }}</h3>
					<p class="event"><a href="{{ event.eventurl }}">{{ event.event }}</a></p>
				<article>
			{% endif %}
		{% endfor %}
	</section>
	<section id="past">
		<h2>Past Events</h2>
		<div id="past-row">
			<div class="column">
				{% for event in site.categories.events limit: 6 %}
					{% if event.status != 'upcoming' %}
						<article>
							<p class="date">{{ event.date | date: "%B %d, %Y" }}</p>
							<h3>{{ event.title }}</h3>
							<p class="event"><a href="{{ event.eventurl }}">{{ event.event }}</a></p>
						<article>
					{% endif %}
				{% endfor %}
			</div>
			<div class="column">
				{% for event in site.categories.events limit: 6 offset: 6 %}
					{% if event.status != 'upcoming' %}
						<article>
							<p class="date">{{ event.date | date: "%B %d, %Y" }}</p>
							<h3>{{ event.title }}</h3>
							<p class="event"><a href="{{ event.eventurl }}">{{ event.event }}</a></p>
						<article>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
</section>