---
layout: general
title: Writings
bodyId: writings
---

<header class="page-hero blue">
	<div class="page-hero-bg" style="background-image: url('/resources/images/dtse-cover.jpg');">
	</div>
	<h2 class="page-hero-title">Writings</h2>
</header>

<section id="writings">
	<h2 class="section-title section-title-underline" style="margin-top: 2rem;">Startups</h2>
	{% include writing_list.html category=site.categories.startup name="startup" %}
</section>
<section id="writings">
	<h2 class="section-title section-title-underline">Crema.co</h2>
	{% include writing_list.html category=site.categories.crema name="crema" %}
</section>
<section id="writings">
	<h2 class="section-title section-title-underline">Search</h2>
	{% include writing_list.html category=site.categories.search name="search" %}
</section>
<section id="writings">
	<h2 class="section-title section-title-underline">User Experience</h2>
	{% include writing_list.html category=site.categories.ux name="ux" %}
</section>
<section id="writings">
	<h2 class="section-title section-title-underline">Front-end Dev</h2>
	{% include writing_list.html category=site.categories.frontend name="frontend" %}
</section>
<section id="writings">
	<h2 class="section-title section-title-underline">Miscellaneous</h2>
	{% include writing_list.html category=site.categories.misc name="misc" %}
</section>

<br/><br/><br/>