<ol class="book-list writing-list writing-list-{{ include.name }}">
  {% for post in include.category %}
    {% if post.publisher %}
      <a href="{{ post.originalurl }}">
    {% else %}
      <a href="{{ post.url }}">
    {% endif %}
      
      <li class="book-item book-item-{{post.categories[1]}}">

        <h3 class="book-item-title">
          {{ post.title }}
        </h3>

        <div class="book-item-meta">
          <span class="book-item-location">
            {% if post.publisher %}
              {{ post.publisher }}
            {% else %}
              tylertate.com
            {% endif %}
          </span>

          <span class="book-item-date">{{ post.date | date: "%b %Y" }}</span>
        </div>
    
      </li>
    </a>
  {% endfor %}
</ol>