nav,
aside,
header,
article,
section,
footer {
  display: block;
}
* {
  margin: 0;
  padding: 0;
}
a img {
  border: none;
}
fieldset {
  border: 0;
}
li {
  list-style: none outside none;
}
html {
  font-size: 12px;
}
body {
  font-size: 1.334em;
  line-height: 1.125em;
  color: #201f1d;
  background-color: white;
}
a {
  color: #64C7A6;
  text-decoration: none;
}
.site-header {
  zoom: 1;
  border-bottom: 1px solid #ebe9e1;
  margin-bottom: -1px;
}
.site-header:before,
.site-header:after {
  content: "";
  display: table;
}
.site-header:after {
  clear: both;
}
.site-header a {
  color: #6a6762;
}
.site-header a:hover {
  color: #64C7A6;
}
.site-header-title {
  display: block;
  width: 21.875%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-left: 18.75%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  float: left;
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.site-header-nav {
  display: block;
  float: left;
  width: 34.375%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-right: 18.75%;
  zoom: 1;
}
.site-header-nav:before,
.site-header-nav:after {
  content: "";
  display: table;
}
.site-header-nav:after {
  clear: both;
}
.site-header-nav ul {
  float: right;
}
@media screen and (max-width: 80rem) {
  .site-header-title {
    display: block;
    float: left;
    width: 28.125%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 12.5%;
  }
  .site-header-nav {
    display: block;
    float: left;
    width: 40.625%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-right: 12.5%;
  }
}
@media screen and (max-width: 66rem) {
  .site-header-title {
    display: block;
    float: left;
    width: 28.125%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 6.25%;
  }
  .site-header-nav {
    display: block;
    float: left;
    width: 53.125%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-right: 6.25%;
  }
}
@media screen and (max-width: 44rem) {
  .site-header-title {
    width: auto;
    float: left;
    padding-left: 2rem;
    padding-right: 1rem;
    margin: 0;
  }
  .site-header-nav {
    width: auto;
    float: right;
    padding-left: 1rem;
    padding-right: 2rem;
    margin: 0;
  }
}
@media screen and (max-width: 38rem) {
  .site-header {
    border-bottom: none;
  }
  .site-header-title {
    float: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .site-header-nav {
    float: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f5f4f0;
  }
  .site-header-nav ul {
    float: none;
  }
  li.site-nav-item.active,
  li.site-nav-item.active:hover,
  li.site-nav-item.active:active {
    background-color: #ebe9e1;
  }
  li.site-nav-item a {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.site-footer {
  zoom: 1;
  clear: both;
  border-top: 1px solid #ebe9e1;
  text-align: center;
  margin-top: -1px;
}
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}
.site-footer:after {
  clear: both;
}
.site-footer a {
  color: #6a6762;
}
.site-footer a:hover {
  color: #64C7A6;
}
.site-footer .site-nav-item {
  display: inline-block;
  float: none;
}
.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-top: -1px;
  background-color: #64C7A6;
  background-size: cover;
  overflow: hidden;
  zoom: 1;
}
.hero:before,
.hero:after {
  content: "";
  display: table;
}
.hero:after {
  clear: both;
}
.hero-heading {
  display: block;
  float: left;
  width: 65.625%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-left: 12.5%;
  margin-right: 18.75%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "garamond-premier-pro", Garamond, "Times New Roman", serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 7rem;
  color: white;
}
.hero-text {
  display: block;
  float: left;
  width: 59.375%;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  padding-left: 0;
  margin-left: 20.3125%;
  margin-right: 20.3125%;
  font-family: "garamond-premier-pro", Garamond, "Times New Roman", serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
  border-top: 1px solid white;
  padding-top: 4rem;
  margin-top: 3rem;
  margin-bottom: -1rem;
}
.hero-text p {
  margin-bottom: 2rem;
}
.hero-text a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}
.hero-text a:hover {
  color: white;
  text-decoration: underline;
}
@media screen and (max-width: 95rem) {
  .hero-heading {
    display: block;
    float: left;
    width: 71.875%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    font-size: 4rem;
    line-height: 6rem;
  }
}
@media screen and (max-width: 80rem) {
  .hero-heading {
    display: block;
    float: left;
    width: 84.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 6.25%;
    margin-right: 6.25%;
  }
  .hero-text {
    display: block;
    float: left;
    width: 71.875%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    padding-left: 0;
    margin-left: 14.0625%;
    margin-right: 14.0625%;
  }
}
@media screen and (max-width: 66rem) {
  .hero-heading {
    font-size: 3.5rem;
    line-height: 5rem;
  }
  .hero-text {
    display: block;
    float: left;
    width: 84.375%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    padding-left: 0;
    margin-left: 7.8125%;
    margin-right: 7.8125%;
    font-size: 1.9167rem;
    line-height: 2.34rem;
  }
}
@media screen and (max-width: 44rem) {
  .hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .hero-heading {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
    line-height: 4rem;
  }
  div.hero-text {
    width: auto;
    padding-top: 3rem;
    padding-right: 0;
    padding-left: 0;
    margin-top: 2.75rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
.content-blocks {
  zoom: 1;
  clear: both;
}
.content-blocks:before,
.content-blocks:after {
  content: "";
  display: table;
}
.content-blocks:after {
  clear: both;
}
.content-blocks li {
  display: block;
  float: left;
  transition: filter 0.15s;
}
.content-blocks li:hover {
  filter: brightness(1.05);
}
.content-blocks li:active {
  filter: brightness(0.95);
}
.content-blocks.large li {
  width: 50%;
}
.content-blocks.medium li {
  width: 33.33%;
}
.work {
  position: relative;
  overflow: hidden;
}
.work img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 44rem) {
  .content-blocks.large li {
    display: block;
    float: left;
    width: 96.875%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    padding: 0;
  }
}
@media screen and (max-width: 66rem) {
  .content-blocks.medium li h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
@media screen and (max-width: 56rem) {
  .content-blocks.medium li {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
  }
}
.featured-groups {
  display: block;
  float: left;
  width: 71.875%;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  padding-left: 0;
  margin-left: 14.0625%;
  margin-right: 14.0625%;
  border-top: 1px solid #ebe9e1;
  border-bottom: 1px solid #ebe9e1;
  margin-bottom: 3rem;
}
.featured-groups-liner {
  display: block;
  margin-left: -2.08333333%;
  margin-right: -2.08333333%;
  zoom: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.featured-groups-liner:before,
.featured-groups-liner:after {
  content: "";
  display: table;
}
.featured-groups-liner:after {
  clear: both;
}
.featured-group {
  display: block;
  float: left;
  width: 29.16666667%;
  padding-left: 2.08333333%;
  padding-right: 2.08333333%;
}
.featured-group h3 {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5em;
  clear: both;
  color: #6a6762;
  font-weight: 300;
  text-transform: uppercase;
}
.featured-group li {
  margin-bottom: 1rem;
  font-family: "garamond-premier-pro", Garamond, "Times New Roman", serif;
  font-size: 1.75rem;
  line-height: 2rem;
}
.featured-group a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 80rem) {
  .featured-groups {
    display: block;
    float: left;
    width: 90.625%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    padding-left: 0;
    margin-left: 4.6875%;
    margin-right: 4.6875%;
  }
  .featured-groups-liner {
    display: block;
    margin-left: -1.66666667%;
    margin-right: -1.66666667%;
    zoom: 1;
  }
  .featured-groups-liner:before,
  .featured-groups-liner:after {
    content: "";
    display: table;
  }
  .featured-groups-liner:after {
    clear: both;
  }
  .featured-group {
    display: block;
    float: left;
    width: 30%;
    padding-left: 1.66666667%;
    padding-right: 1.66666667%;
  }
}
@media screen and (max-width: 66rem) {
  .featured-groups {
    display: block;
    float: left;
    width: 84.375%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    padding-left: 0;
    margin-left: 7.8125%;
    margin-right: 7.8125%;
  }
  .featured-groups-liner {
    display: block;
    margin-left: -1.78571429%;
    margin-right: -1.78571429%;
    zoom: 1;
  }
  .featured-groups-liner:before,
  .featured-groups-liner:after {
    content: "";
    display: table;
  }
  .featured-groups-liner:after {
    clear: both;
  }
  .featured-group {
    display: block;
    float: left;
    width: 46.42857143%;
    padding-left: 1.78571429%;
    padding-right: 1.78571429%;
  }
  .featured-group:last-child {
    display: none;
  }
}
@media screen and (max-width: 44rem) {
  .featured-groups {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .featured-groups-liner {
    width: auto;
    padding: 0;
    margin: 0;
  }
  .featured-group {
    float: left;
    width: 48%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .featured-group:first-child {
    margin-right: 4%;
  }
}
@media screen and (max-width: 38rem) {
  .featured-groups {
    border-top: none;
    border-bottom: none;
  }
  .featured-group {
    float: none;
    width: auto;
  }
  .featured-group:first-child {
    margin-right: 0;
  }
  .featured-group:last-child {
    display: block;
  }
  .featured-group h3 {
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    font-weight: 400;
  }
  .featured-group ul {
    margin-bottom: 2rem;
  }
}
.site-nav-item {
  display: block;
  float: left;
  font-size: 1.34rem;
  line-height: 2rem;
}
.site-nav-item.active,
.site-nav-item.active:hover .site-nav-item.active:active {
  font-weight: 600;
  background-color: #f5f4f0;
  color: #64C7A6;
}
.site-nav-item.active a,
.site-nav-item.active:hover .site-nav-item.active:active a {
  color: #64C7A6;
}
.site-nav-item a {
  display: inline-block;
  padding: 1.75rem 1rem;
  color: #6a6762;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.site-nav-item a:hover {
  color: #64C7A6;
}
.content-list {
  display: block;
  float: left;
  width: 96.875%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-bottom: 6rem;
}
.content-item {
  display: block;
  margin-left: -1.5625%;
  margin-right: -1.5625%;
  zoom: 1;
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s;
}
.content-item:before,
.content-item:after {
  content: "";
  display: table;
}
.content-item:after {
  clear: both;
}
.content-item:hover {
  background-color: #f5f4f0;
}
.content-item-location,
.content-item-date {
  margin-top: 0.834rem;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.083rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
.content-item-location {
  display: block;
  float: left;
  width: 21.875%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  color: #6a6762;
  text-align: right;
}
.content-item-location:hover {
  color: #64C7A6;
}
.content-item-title {
  display: block;
  float: left;
  width: 46.875%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  font-family: "garamond-premier-pro", Garamond, "Times New Roman", serif;
  font-size: 2.25rem;
  line-height: 1.1852em;
  font-weight: 2.67rem;
}
.content-item-title a {
  color: #201f1d;
}
.content-item-title a:hover {
  color: #64C7A6;
  text-decoration: underline;
}
.content-item-date {
  display: block;
  float: left;
  width: 9.375%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-right: 12.5%;
  color: #a9a7a2;
  text-align: right;
}
.content-item-event {
  display: block;
  margin-top: 0.5rem;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.34rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #6a6762;
}
.content-item-event:hover {
  color: #64C7A6;
}
.content-item-title .content-item-event {
  color: #6a6762;
}
@media screen and (max-width: 100rem) {
  .content-item-title {
    display: block;
    float: left;
    width: 53.125%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
  }
  .content-item-date {
    display: block;
    float: left;
    width: 9.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-right: 6.25%;
  }
}
@media screen and (max-width: 80rem) {
  .content-list {
    margin-bottom: 5rem;
  }
  .content-item-title {
    display: block;
    float: left;
    width: 59.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
  }
  .content-item-date {
    display: block;
    float: left;
    width: 9.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-right: 0%;
    text-align: left;
  }
}
@media screen and (max-width: 66rem) {
  .content-list {
    display: block;
    float: left;
    width: 84.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 6.25%;
    margin-right: 6.25%;
    margin-bottom: 3rem;
  }
  .content-item {
    display: block;
    margin-left: -1.78571429%;
    margin-right: -1.78571429%;
    zoom: 1;
  }
  .content-item:before,
  .content-item:after {
    content: "";
    display: table;
  }
  .content-item:after {
    clear: both;
  }
  .content-item:hover {
    background-color: transparent;
  }
  .content-item-title {
    display: block;
    float: left;
    width: 84.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
  }
  .content-item-location {
    display: block;
    float: left;
    width: 84.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-top: 0;
    margin-bottom: 0.33rem;
    text-align: left;
  }
  .content-item-date {
    display: block;
    float: left;
    width: 84.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-top: 0.33rem;
    text-align: left;
  }
}
@media screen and (max-width: 44rem) {
  .content-list {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .content-item {
    float: none;
    width: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: 0;
  }
  .content-item-title,
  .content-item-location,
  .content-item-date {
    display: block;
    float: none;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
}
.section-title {
  clear: both;
  display: block;
  float: left;
  width: 59.375%;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  padding-left: 0;
  margin-left: 20.3125%;
  margin-right: 20.3125%;
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  color: #6a6762;
}
.section-title a {
  color: #6a6762;
}
.section-title a:hover {
  text-decoration: underline;
}
.section-feature {
  width: 100%;
  margin-bottom: 4em;
}
.section-feature iframe {
  max-width: 100%;
}
.section-title-underline {
  border-bottom: 1px solid #ebe9e1;
  padding-bottom: 2rem;
}
@media screen and (max-width: 80rem) {
  .section-title {
    display: block;
    float: left;
    width: 71.875%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    padding-left: 0;
    margin-left: 14.0625%;
    margin-right: 14.0625%;
    margin-top: 7rem;
  }
}
@media screen and (max-width: 66rem) {
  .section-title {
    display: block;
    float: left;
    width: 84.375%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    padding-left: 0;
    margin-left: 7.8125%;
    margin-right: 7.8125%;
    margin-top: 6rem;
  }
}
@media screen and (max-width: 44rem) {
  .section-title {
    float: none;
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
#blog .post-content {
  margin-bottom: 4rem;
}
#blog .post-content p,
#blog .post-content ul,
#blog .post-content ol {
  font-family: "garamond-premier-pro", Garamond, "Times New Roman", serif;
  font-size: 2rem;
  line-height: 3rem;
}
#blog .post-content pre {
  font-size: 1.25em;
  line-height: 1.1em;
  font-family: "source-code-pro", "Courier New", monospace, sans-serif;
  color: #201f1d;
}
#blog .post-content p code,
#blog .post-content li code {
  font-family: "source-code-pro", "Courier New", monospace, sans-serif;
  font-size: .8em;
  color: #201f1d;
  background-color: #ebe9e1;
}
#blog .post-content h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 6rem 0 1rem 0;
  clear: both;
}
#blog .post-content h3,
#blog .post-content h4 {
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 4rem;
  margin-bottom: 0.25rem;
  clear: both;
}
#blog .post-content p,
#blog .post-content ol,
#blog .post-content ul {
  margin-bottom: 2rem;
}
#blog .post-content li {
  margin-bottom: 0.5rem;
}
#blog .post-content ol li {
  list-style: decimal outside none;
  padding-left: 1rem;
  margin-left: -1rem;
}
#blog .post-content ul li {
  list-style: disc outside none;
  padding-left: 1rem;
  margin-left: -1rem;
}
#blog .post-content blockquote {
  clear: both;
  margin-top: 3rem;
  margin-left: -3rem;
  margin-bottom: 3rem;
  padding-left: 2.75rem;
  border-left: 0.25rem solid #64C7A6;
  color: #6a6762;
}
#blog .post-content blockquote p {
  font-size: 2.5rem;
  line-height: 4rem;
  font-style: italic;
  margin-bottom: 0;
}
#blog .post-content pre {
  background-color: #ebe9e1;
  padding: 0.75em 1em;
  margin: 1em -1em;
  overflow-x: auto;
}
#blog .post-content a:hover {
  text-decoration: underline;
}
#blog .post-header {
  overflow: hidden;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
#blog .post-title {
  display: block;
  float: left;
  width: 71.875%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  color: #201f1d;
}
#blog .post-date {
  display: block;
  float: left;
  width: 59.375%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-left: 18.75%;
  margin-right: 18.75%;
  margin-bottom: 1rem;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #6a6762;
  font-weight: 200;
}
#blog .post-content {
  display: block;
  float: left;
  width: 59.375%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-left: 18.75%;
  margin-right: 18.75%;
}
#blog #disqus_thread {
  margin-top: 6em;
  margin-bottom: 2em;
}
#blog figcaption {
  font-size: .8em;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6a6762;
}
#blog .small {
  display: block;
  float: left;
  width: 25%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-left: -31.75%;
  margin-bottom: 2rem;
  clear: both;
}
#blog .small img {
  width: 100%;
}
#blog .medium {
  display: block;
  float: left;
  width: 105%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-left: -10%;
  margin-right: -10%;
  float: none;
  margin-top: 2em;
  margin-bottom: 2em;
}
#blog .medium img {
  width: 100%;
}
#blog .medium iframe {
  width: 100%;
}
@media screen and (max-width: 119rem) {
  #blog .medium iframe {
    height: 47rem;
  }
}
@media screen and (max-width: 110rem) {
  #blog .medium iframe {
    height: 44rem;
  }
}
@media screen and (max-width: 100rem) {
  #blog .medium iframe {
    height: 41rem;
  }
}
@media screen and (max-width: 90rem) {
  #blog .medium iframe {
    height: 39rem;
  }
}
@media screen and (max-width: 80rem) {
  #blog .medium iframe {
    height: 36rem;
  }
}
@media screen and (max-width: 70rem) {
  #blog .medium iframe {
    height: 33rem;
  }
}
@media screen and (max-width: 60rem) {
  #blog .medium iframe {
    height: 30rem;
  }
}
@media screen and (max-width: 50rem) {
  #blog .medium iframe {
    height: 26rem;
  }
}
@media screen and (max-width: 40rem) {
  #blog .medium iframe {
    height: 22rem;
  }
}
@media screen and (max-width: 30rem) {
  #blog .medium iframe {
    height: 16rem;
  }
}
#blog .large {
  display: block;
  float: left;
  width: 155%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-left: -30%;
  margin-right: -30%;
  float: none;
  margin-top: 2em;
  margin-bottom: 2em;
}
#blog .large:first-child {
  margin-top: 0;
}
#blog .large img {
  width: 100%;
}
@media screen and (max-width: 80rem) {
  #blog .post-content {
    display: block;
    float: left;
    width: 71.875%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
  #blog .small {
    display: block;
    float: left;
    width: 45.83333333%;
    padding-left: 2.08333333%;
    padding-right: 2.08333333%;
    margin-left: -16.66666667%;
    padding-right: 2rem;
    margin-top: 0.5rem;
  }
  #blog .large {
    display: block;
    float: left;
    width: 129.16666667%;
    padding-left: 2.08333333%;
    padding-right: 2.08333333%;
    margin-left: -16.66666667%;
    margin-right: -16.66666667%;
    float: none;
  }
  #blog .post-title {
    display: block;
    float: left;
    width: 84.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 6.25%;
    margin-right: 6.25%;
  }
  #blog .post-date {
    display: block;
    float: left;
    width: 71.875%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    font-size: 0.95em;
    margin-bottom: 0.5rem;
  }
  #blog .post-title {
    font-size: 2.5em;
  }
  #blog .post-content p,
  #blog .post-content ul,
  #blog .post-content ol {
    line-height: 2.67rem;
  }
  #blog .post-content blockquote {
    padding-left: 2.4167rem;
  }
  #blog .post-content blockquote p {
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 66rem) {
  #blog .post-content,
  #blog .post-date {
    display: block;
    float: left;
    width: 84.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 6.25%;
    margin-right: 6.25%;
  }
  #blog .small {
    display: block;
    float: left;
    width: 46.42857143%;
    padding-left: 1.78571429%;
    padding-right: 1.78571429%;
    margin-left: -7.14285714%;
    padding-right: 2rem;
  }
  #blog .medium {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  #blog .large {
    display: block;
    float: left;
    width: 110.71428571%;
    padding-left: 1.78571429%;
    padding-right: 1.78571429%;
    margin-left: -8.33333333%;
    margin-right: -8.33333333%;
    float: none;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #blog .post-title {
    font-size: 3rem;
    line-height: 4rem;
  }
  #blog .post-content p,
  #blog .post-content ul,
  #blog .post-content ol {
    font-size: 1.9167rem;
    line-height: 2.34rem;
  }
  #blog .post-content ol li,
  #blog .post-content ul li {
    padding-left: 0rem;
    margin-left: 1.75rem;
  }
  #blog .post-content h3 {
    font-size: 1.9167rem;
    line-height: 2.34rem;
  }
  #blog .post-content blockquote {
    clear: both;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    padding-left: 1.75rem;
  }
  #blog .post-content blockquote p {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 44rem) {
  #blog .post-header {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #blog .post-content,
  #blog .post-date,
  #blog .post-title {
    float: none;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
  #blog .small,
  #blog .medium,
  #blog .large {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  #blog .post-content h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
.page-hero {
  position: relative;
  overflow: hidden;
  padding: 8rem 0;
  margin-bottom: 6rem;
}
.page-hero.orange {
  background-color: #e6a15c;
}
.page-hero.red {
  background-color: #e6735c;
}
.page-hero.yellow {
  background-color: #e5d068;
}
.page-hero.blue {
  background-color: #73a1ff;
}
.page-hero.green {
  background-color: #64C7A6;
}
.page-hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.33;
  filter: alpha "(opacity = 0.33)";
  zoom: 1;
  filter: grayscale(100%) brightness(75%);
  background-size: cover;
  background-position: 50% 50%;
}
.page-hero-bg img {
  min-width: 100%;
  max-height: 100%;
}
.page-hero-title {
  position: relative;
  z-index: 10;
  color: white;
  display: block;
  float: left;
  width: 71.875%;
  padding-left: 1.5625%;
  padding-right: 1.5625%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
}
@media screen and (max-width: 80rem) {
  .page-hero {
    margin-bottom: 5rem;
  }
  .page-hero-title {
    display: block;
    float: left;
    width: 84.375%;
    padding-left: 1.5625%;
    padding-right: 1.5625%;
    margin-left: 6.25%;
    margin-right: 6.25%;
  }
}
@media screen and (max-width: 66rem) {
  .page-hero {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 3rem;
  }
  .page-hero-title {
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 38rem) {
  .page-hero-title {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
}
.book-list {
  clear: both;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 1.5rem 0 3rem 4rem;
  margin-bottom: -1.5rem;
  white-space: nowrap;
}
.book-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 3rem 2rem;
  margin-right: 4rem;
  background-color: black;
  transition: transform 0.15s, background-color 0.15s;
}
.book-item:hover {
  transform: scale(1.1);
}
.book-item a {
  display: block;
  width: 18rem;
  height: 26rem;
}
.book-item-title {
  display: block;
  white-space: normal;
  font-family: "garamond-premier-pro", Garamond, "Times New Roman", serif;
  font-size: 2.25rem;
  line-height: 3rem;
  color: white;
}
.book-item-title a {
  color: white;
}
.book-item-meta {
  position: absolute;
  top: 23rem;
  left: 2rem;
  right: 2rem;
  padding: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: -1px;
}
.book-item-location,
.book-item-date {
  display: block;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.167rem;
  line-height: 2rem;
  color: white;
}
.book-item-location {
  font-weight: 600;
}
.book-item-location a {
  color: white;
}
.book-item-date {
  font-weight: 200;
}
.book-item-startup {
  background-color: #64C7A6;
}
.book-item-startup:hover {
  background-color: #51c09b;
}
.book-item-startup:active {
  background-color: #42b68f;
}
.book-item-crema {
  background-color: #53cde5;
}
.book-item-crema:hover {
  background-color: #3dc7e2;
}
.book-item-crema:active {
  background-color: #27c0de;
}
.book-item-search {
  background-color: #73a1ff;
}
.book-item-search:hover {
  background-color: #5a90ff;
}
.book-item-search:active {
  background-color: #407fff;
}
.book-item-ux {
  background-color: #f279a1;
}
.book-item-ux:hover {
  background-color: #f06291;
}
.book-item-ux:active {
  background-color: #ed4b80;
}
.book-item-frontend {
  background-color: #e6735c;
}
.book-item-frontend:hover {
  background-color: #e36046;
}
.book-item-frontend:active {
  background-color: #df4d30;
}
.book-item-misc {
  background-color: #e6a15c;
}
.book-item-misc:hover {
  background-color: #e39446;
}
.book-item-misc:active {
  background-color: #df8730;
}
@media screen and (max-width: 80rem) {
  .book-list {
    padding-left: 0;
    margin-left: 0;
  }
  .book-item {
    margin-right: 2rem;
  }
  .book-list a:first-child .book-item {
    margin-left: 2rem;
  }
}
.about-image {
  display: block;
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: -23rem auto 6rem auto;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;
  z-index: 25;
}
@media screen and (max-width: 80rem) {
  .about-image {
    margin-top: -22rem;
  }
}
@media screen and (max-width: 66rem) {
  #about .page-hero-title {
    text-align: center;
  }
  .about-image {
    width: 16rem;
    height: 16rem;
    margin: -8.5rem auto 4rem auto;
  }
}
@media screen and (max-width: 38rem) {
  .site-footer {
    padding-top: 1.5rem;
  }
  .site-footer .site-nav-item a {
    padding-top: 0;
  }
}
