//////////////////
// DEPENDENCIES //
//////////////////

// Helpers
@import 'helpers/helpers.less';
@import 'helpers/grid.less';
@import 'helpers/reset.less';


//////////
// GRID //
//////////

@column-width: 1;
@gutter-width: 1;
@columns: 16;
@gutter-method: padding;
@total-width: 100%;


////////////
// COLORS //
////////////


@black: hsl(40,4%,12%);
@tan: #f5f4f0;
@tan-text: hsl(40,4%,40%);
@tan-border: darken(@tan,5%);

@green: #64C7A6;
@light-blue: #53cde5;
@blue: #73a1ff;
@pink: #f279a1;
@red: #e6735c;
@orange: #e6a15c;
@yellow: #e5d068; // phase out




////////////////
// TYPOGRAPHY //
////////////////

@sans-serif: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serif: "garamond-premier-pro", Garamond, "Times New Roman", serif;

html {
	font-size: 12px; // 1rem
}
body {
	font-size: 1.334em; // 16px
	line-height: 1.125em; // 24px or 2rem;
	color: @black;
	background-color: white;
}
a {
	color: @green;
	text-decoration: none;
}


/////////////
// IMPORTS //
/////////////

@import 'helpers/header.less';
@import 'helpers/footer.less';
@import 'helpers/hero.less';
@import 'helpers/content-blocks.less';
@import 'helpers/featured-groups.less';
@import 'helpers/site-nav.less';
@import 'helpers/content-list.less';
@import 'helpers/section.less';
@import 'helpers/blog.less';
@import 'helpers/page-hero.less';
@import 'helpers/book-list.less';


//////////
// HOME //
//////////

// #home .writing-list {
// 	margin-bottom: 0;

// 	@media screen and (max-width: 38rem) {
// 		display: none;
// 	}
// }


///////////
// ABOUT //
///////////

.about-image {
	display: block;
	position: relative;
	width: 20rem;
	height: 20rem;
	margin: -23rem auto 6rem auto;
	.rounded-corners(10rem);
	z-index: 25;
}
@media screen and (max-width: 80rem) {
	.about-image {
		margin-top: -22rem;
	}
}
@media screen and (max-width: 66rem) {
	#about .page-hero-title {
		text-align: center;
	}
	.about-image {
		width: 16rem;
		height: 16rem;
		margin: -8.5rem auto 4rem auto;
	}
}


////////////
// FOOTER //
////////////

.site-footer {
	@media screen and (max-width: 38rem) {
		padding-top: 1.5rem;

		.site-nav-item a {
			padding-top: 0;
		}
	}
}