body {
  padding: 0 0.5952380952380952%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
a img, form, fieldset {
  border: none;
}
p {
  margin-bottom: 20px;
}
nav,
aside,
header,
article,
section,
footer {
  display: block;
}
body {
  background-color: #ccc;
  font-family: Georgia;
}
a {
  color: #0CC;
}
#mainbody {
  overflow: hidden;
  width: 100.89285714285714%;
  margin: 0 -0.4464285714285714%;
  width: 1120px;
  margin: 0 auto;
  padding: 3em 0;
}
