@column-width: 60;
@gutter-width: 20;
@columns: 14;

@import '_grid.less';
@import '_mixins.less';


///////////
// reset //
///////////

* { margin: 0; padding: 0; }
a img, form, fieldset { border: none; }
p { margin-bottom: 20px; }
nav, aside, header, article, section, footer { display: block; }


//////////
// type //
//////////

body {
	font-family: Georgia;
}
a {
	color: black;
}


////////////
// layout //
////////////

#body {
	.row;
	position: relative;
	width: 1120px;
	margin: 0 auto;
	z-index: 1;
}

header#top {
	.grid(14);
	padding: 3em 0 2em;

	nav {
		.row;
	}
	
	// logo
	h1 {
		.grid(7);
		font-style: italic;
	}
	
	// navigation
	ul {
		.grid(7);
		width: auto;
		float: right;
		
		li {
			list-style: none outside none;
			float: left;
			margin: 0.75em 0 0 2em;
			
			a {
				text-decoration: none;
			}
		}
	}
	
	// tagline
	p {
		font-size: 1.5em;
		padding: 1.5em 0;
		
		span {
			display: block;
			font-size: 0.8em;
		}
	}
}