@import '_grid.less';
@import '_mixins.less';

@column-width: 60;
@gutter-width: 20;
@columns: 14;


///////////
// reset //
///////////

* { margin: 0; padding: 0; }
a img, form, fieldset { border: none; }
p { margin-bottom: 20px; }
nav, aside, header, article, section, footer { display: block; }


//////////
// type //
//////////

body {
	font-family: Georgia;
}
a {
	color: black;
}


////////////
// layout //
////////////

body {
	padding: 0 4%;
}
#body {
	position: relative;
	max-width: 1160px;
	min-width: 760px;
	margin: 0 auto;
}

header#top {
	.row;
	padding: 2em 0;

	nav {
		.grid(14);
		padding-bottom: 0.75em;
		border-bottom: 1px solid #ccc;
		
		// logo
		h1 {
			float: left;
			font-style: italic;
		}

		// navigation
		ul {
			.grid(7);
			width: auto;
			float: right;

			li {
				list-style: none outside none;
				float: left;
				margin: 1em 0 0 2em;

				a {
					text-decoration: none;
				}
			}
		}
	}
	
	// tagline
	p {
		.grid(14);
		font-size: 1.1em;
		padding: 1.5em 0;
		line-height: 1.2em;
		text-align: center;
		border-bottom: 1px solid #ccc;
		
		span {
			display: block;
			font-size: 2em;
			line-height: 1.2em;
			padding-bottom: 0.2em;
		}
	}
}

section#writings {
	.grid(12);
	
	h2 {
		font-weight: normal;
	}
}