body {
  padding: 0 0.5952380952380952%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
a img, form, fieldset {
  border: none;
}
p {
  margin-bottom: 20px;
}
nav,
aside,
header,
article,
section,
footer {
  display: block;
}
body {
  font-family: Georgia;
}
a {
  color: black;
}
#body {
  overflow: hidden;
  width: 100.89285714285714%;
  margin: 0 -0.4464285714285714%;
  position: relative;
  width: 1120px;
  margin: 0 auto;
  z-index: 1;
}
header#top {
  overflow: hidden;
  float: left;
  width: 86.60714285714286%;
  margin: 0 0.4464285714285714%;
  _display: inline;
  padding: 4em 0 2em;
}
header#top nav {
  overflow: hidden;
  width: 100.89285714285714%;
  margin: 0 -0.4464285714285714%;
}
header#top h1 {
  overflow: hidden;
  float: left;
  width: 42.857142857142854%;
  margin: 0 0.4464285714285714%;
  _display: inline;
  font-style: italic;
  font-weight: normal;
}
header#top ul {
  overflow: hidden;
  float: left;
  width: 42.857142857142854%;
  margin: 0 0.4464285714285714%;
  _display: inline;
  width: auto;
  float: right;
}
header#top ul li {
  list-style: none outside none;
  float: left;
  margin: 1em 0 0 2em;
}
header#top ul li a {
  text-decoration: none;
}
header#top p {
  overflow: hidden;
  float: left;
  width: 86.60714285714286%;
  margin: 0 0.4464285714285714%;
  _display: inline;
  font-size: 1.2em;
  padding: 1.5em 0;
  line-height: 1.4em;
}
header#top p span {
  display: block;
  font-size: 1.5em;
}
