.content-blocks {
	.clearfix;
	clear: both;

	li {
		display: block;
		float: left;
		transition: filter 0.15s;

		&:hover {
			filter: brightness(1.05);
		}
		&:active {
			filter: brightness(0.95);
		}
	}

	&.large li {
		width: 50%;
		
	}
	&.medium li {
		width: 33.33%;
	}
}

.work {
	position: relative;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}


////////////////
// RESPONSIVE // Large
////////////////

@media screen and (max-width: 44rem) {
	.content-blocks.large li {
		.column(16,16);
		padding: 0;
	}
}


////////////////
// RESPONSIVE // Medium
////////////////

@media screen and (max-width: 66rem) {
	.content-blocks.medium li h3 {
		font-size: 2.5rem;
		line-height: 3rem;
		margin-top: 2.25rem;
		margin-bottom: 2.25rem;
	}
}
@media screen and (max-width: 56rem) {
	.content-blocks.medium li {
		display: block;
		float: none;
		width: 100%;
		padding: 0;
	}
}
