///////////////////
// SECTION TITLE //
///////////////////

.section-title {
	clear: both;
	.column(10);
	.push(3);
	.pull(3);
	margin-top: 8rem;
	margin-bottom: 2rem;
	font-family: @sans-serif;
	font-size: 4rem;
	font-weight: 300;
	line-height: 5rem;
	letter-spacing: 1px;
	color: @tan-text;
}
.section-feature {
	width: 100%;
	margin-bottom: 4em;

	iframe {
		max-width: 100%;
	}
}
@media screen and (max-width: 80rem) {
	.section-title {
		.column(12);
		.push(2);
		.pull(2);
		margin-top: 7rem;
	}
}
@media screen and (max-width: 66rem) {
	.section-title {
		.column(14);
		.push(1);
		.pull(1);
		margin-top: 6rem;
	}
}
@media screen and (max-width: 44rem) {
	.section-title {
		float: none;
		width: auto;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-top: 5rem;
		margin-right: 0;
		margin-bottom: 1rem;
		margin-left: 0;
	}
}