<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Tyler Tate. {{page.title}}</title>

	{% include head.html %}
</head>

<body id="{{ bodyId }}">
	<div id="body">
		<header id="top">
			<nav>
				<ul>
					<li><a href="">About</a></li>
				</ul>
				<h1>Tyler Tate</h1>
			</nav>
			<p id="tagline">
				<span>Designing user interfaces that make the complex feel simple.</span>
				I live in London, work at TwigKit, and spend a lot of time thinking about search.
			</p>
		</header>
		
		{{ content }}

	</div>
</body>
</html>