<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
	<link rel="alternate" type="application/rss+xml" title="Tyler Tate. Designer. Cofounder of TwigKit. Author of Designing the Search Experience. Creator of Semantic.gs." href="http://feeds.feedburner.com/TylerTate" />
	<title>Tyler Tate. {{page.title}}</title>

	<script type="text/javascript" src="//use.typekit.net/lef3yon.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" href="{{ site.url }}/resources/css/main.css" type="text/css">
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-761992-5']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body id="{{ page.bodyId }}">

	<header class="site-header">
		<nav class="site-nav">
			<ul>
				<!--li class="site-nav-item">
					<a class="icon-building" href="http://twigkit.com/" title="My Company: Twigkit"><span>Company</span></a>
				</li-->
				<li class="site-nav-item">
					<a class="icon-book-open" href="http://designingthesearchexperience.com/" title="My Book: Designing the Search Experience"><span>Book</span></a>
				</li>
				<li class="site-nav-item">
					<a class="icon-linkedin-squared" href="http://uk.linkedin.com/in/tylertate/" title="My LinkedIn Profile"><span>LinkedIn</span></a>
				</li>
				<li class="site-nav-item">
					<a class="icon-twitter" href="http://twitter.com/tylertate" title="Follow me on Twitter"><span>Twitter</span></a>
				</li>
			</ul>
		</nav>
		<figure class="my-photo">
			<a href="/">
				<img src="/resources/images/tyler-tate.jpg" />
			</a>
		</figure>
		<figure class="my-name">
			<a href="/">Tyler Tate</a>
		</figure>
	</header>

	{{ content }}

</body>
</html>